[package]
name = "flier_inotify"
version = "0.1.0"
authors = []
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
rustler = "0.37.0"
inotify = "0.11"
nix = { version = "0.29", features = ["poll"] }
